h1 {
    color: black;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    margin-top: 30px;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

div { 
  text-align: center; 
}

.navbar-nav {
  margin-left: 400px;
}

ul {
  font-size: 20px;
}

.nav-item {
  margin-left: 55px;
}

.jumbotron {
  height: 500px
}

.font-weight-light, .lead {
  text-align: left;
  color: white;
  height: 75px;
}

.masthead {
  height: 80vh;
  min-height: 500px;
  background-image: url('https://www.itic.org/dotAsset/bb16ba6f-2265-43e0-ab25-bbef96984ddb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
}

.font-weight-light {
  text-align: left;
}

.float-left {
  margin-left: 100px;
  margin-top: 10px;
}

.float-right {
  margin-right: 100px;
  margin-top: 10px;
}

