html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.masthead {
  
  height: 85vh;
  min-height: 300px;
  background: -webkit-linear-gradient(0deg, rgb(69, 62, 62, 0.6), rgb(69, 62, 62, 0.6)), url('../portlogo.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px black;
  

}

@media screen and (min-width: 60em) {
  .masthead {
    height: 99vh;
  min-height: 500px;
  background: -webkit-linear-gradient(0deg, rgb(69, 62, 62, 0.6), rgb(69, 62, 62, 0.6)), url('../portlogo.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px black;
  }
}

.headname {
  text-align: center;
  height: 75px;
  margin-bottom: 40px;
  /* margin-left: 30px; */
  font-size: 16vw;
  /* font-weight: bold; */
  margin-top: 70px;
  color: whitesmoke;
  /* box-shadow: 0 0 30px black; */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 50em) {
  .headname {
    text-align: center;
    /* margin-top: 20px; */
    font-size: 12vw;
    margin-bottom: 120px;
    font-family: 'Roboto', sans-serif;
    /* margin-left: 30px; */
    font-weight: bold;
  }
}

.me, .porttitle, .serviceshead, .lego {
  color: black;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  margin-top: 30px;
}

.firstsec {
  background-color: white;
  height: cover;

}

.services {
  background-color: grey;
}

.skillz {
  text-decoration: underline;

}

/* 
.about-flex {
  display: ;
  
} */

@media screen and (min-width: 70em) {
  .about-flex {
    display: flex;
    justify-content: space-around;
  }
}


.image-and-location-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7vw;
}

@media screen and (min-width: 40em) {
  .image-and-location-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/* @media screen and (min-width: 70em){
  .about-me-text{
    display: flex;
  flex-direction: column;
  align-items: center;
  }
} */


.about-me-text,
li {
  font-family: 'Oswald', sans-serif;
}

li {
  font-size: .8rem;
  margin-right: 90px;
  margin-left: 80px;
  white-space: nowrap;
  /* list-style-type: none; */
}

.about-me-text {
  /* margin-left: 4vw;
  margin-top: 7vh;
  margin-right: 12vw;
  margin-bottom: 8vh;
  font-size: 1.1vw; */
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: left;
  font-size: 3vw;
}

@media screen and (min-width: 70em) {
  .about-me-text {
    margin-left: 3vw;
    margin-top: 7vh;
    margin-right: 12vw;
    margin-bottom: 8vh;
    font-size: 1.1vw;
  }
}

.img-responsive {
  margin-bottom: 20px;
  margin-left: 0;
}

.social {
  margin-top: 15px;
}


.services {
  background-color: white;
}

.portfolio {
  background-color: #e3e7ed;

}

.benefit {
  /* width: 17%; */
  margin: 2%;
  /*thickness of margin, since left right bottom and top arent mentioned then its all the same*/
  margin-top: 35px;
  display: inline-block;
  /*this makes icons and text under stack side by side the others, may need this for the startup rocket app*/
  text-align: center;
  vertical-align: top;
  /*makes sure services icons are aligned vertically at top, meaning top of vertical columns are aligned horizontally(at tiop)*/
}

/* #benefit1 {
    margin-left: 3vw;
} */

.brainicon {
  background: #9ecc3c;
  border-radius: 20%;
  display: inline-block;
  padding: 40px;
  text-align: center;
  margin-bottom: 25px;
}


@media screen and (min-width: 60em) {
  .benefit {
    text-align: center;
    display: inline-block;
    width: 17%;
    margin-top: 35px;
    margin: 1%;
    vertical-align: top;
  }
}

.contact {
  background-color: whitesmoke;
  background-size: cover;
}

.center {
  text-align: center;
}

.fas,
.fab {
  display: inline-block;
  margin-left: 2vw;
  margin-right: 2vw;
}

/* .fa-twitter-square {
  margin-left: 0px;
} */

.webdev {
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width: 60em) {
  .webdev {
    text-align: center;
  }
}

.quote {
  text-align: center;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 13px;
}

@media screen and (min-width: 60em) {
  .quote {
    text-align: center;
    margin-left: 3px;
  margin-right: 3px;
  }
}

/* 
.card-text {
  text-align: center;
} */

h2 {
  text-align: center;
}

/* div { 
  text-align: center; 
} */

.navbar-nav {
 
  margin-left: 200px;

}

@media screen and (min-width: 50em) {
  .navbar-nav {
    margin-left: 400px;
   
  }
}




.nav-item {
  margin-left: 60px;
  font-size: 20px;
  margin-right: 15px;
}


.jumbotron {
  height: 500px
}





.me {
  margin-top: 0px;
}

/* .about-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
/* pu above in media query */




.lead {
  text-align: center;
  /* margin-left: 60px; */
  color: white;
  /* margin-bottom: 50px; */
  font-family: 'Roboto';
  font-size: 5vw;
}

@media screen and (min-width: 40em) {
  .lead {
    text-align: center;
    font-size: 4vw;
    /* margin-top: 40px; */
    /* margin-left: 60px; */
    font-family: 'Roboto';


  }
}

.container {
  margin-left: 60px;
}

.rounded-circle {
  margin-left: 30px;
  /* margin-top: 20px;
  height: 40vh;
  width: 27vw; */
}

@media screen and (min-width: 60em) {
  .rounded-circle {
    margin-left: 50px;
    margin-top: 50px;
    height: 40vh;
    width: 27vw;
  }
}

.hr2 {
  height: 3px;
  background-color: green;
  margin-bottom: 55px;
}

@media screen and (min-width: 30em) {
  .hr2 {

    /* margin-left: 30px; */
    height: 3px;
  background-color: green;
  }
}



.hr1 {
  margin-left: 15vw;
  align-items: center;

}

@media screen and (min-width: 70em) {
  .hr1 {
    margin-left: 100px;
    /* margin-top: 40px; */
    /* margin-left: 60px; */

  }
}



/* .education1 {
  margin-left: 17px;
} */
/* 
.education2 {
  margin-left: 100px;
} */

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  /* display: none; Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

/* .aboutme {
  float: right;
} */

.card {
  width: 20rem;
  text-align: center;
  /* justify-content: space-evenly;   */
}

@media screen and (min-width: 50em) {
  .card {
    text-align: center;
    width: 30rem;
    /* margin-top: 40px; */
    /* margin-left: 60px; */

  }
}

footer {
  /* font-family: 'Oswald', cursive; */
  font-size: 2vw;
  text-align: center;
  margin: 10px;
  color: whitesmoke;
  background-color: black;
  margin: 0;
  box-shadow: 0 0 11px black;
}
